POSTGRES_USER=gbsw
POSTGRES_PASSWORD=gbsw
POSTGRES_DB=gbsw_platform
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

WEB_PORT=3000
API_PORT=3001
PRISMA_STUDIO_PORT=5555

DATABASE_URL="postgresql://gbsw:gbsw@127.0.0.1:5432/gbsw_platform?schema=public"
